@model IEnumerable<WebAppMVC.Models.ClienteViewModel>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Razão Social</th>
            <th>Documento</th>
            <th>Cidade</th>
            <th style="width:160px">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.RazaoSocial</td>
                <td>@c.Documento</td>
                <td>@c.Cidade / @c.UF</td>
                <td>
                    <button class="btn btn-sm btn-warning"
                            data-url="@Url.Action("Edit", "Cliente", new { id = c.CodigoCliente })"
                            onclick="showFormModal(this, 'Editar Cliente')">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-danger"
                            data-url="@Url.Action("Delete", "Cliente", new { id = c.CodigoCliente })"
                            onclick="deleteItem(this)">
                        Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
